spring:
  config:
    import: classpath:application-datasource.yml
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect
  thymeleaf:
    cache: false
  h2:
    console:
      enabled: false
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  security:
    oauth2:
      client:
        clientId:570212311623-ggtmucguh3nr3c89v4i38j4rjk11n061.apps.googleusercontent.com
          clientSecret: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
logging:
  level:
    org:
      springframework:
        security:
          web: trace
